


h1,  h2,  h3, h4, h5, h6 {
    margin-bottom:1em;
    padding:8px;
    border-bottom:1px dotted #999999;
    font-size: 2em;

}
h1 {
    display: inline-block; 
    position: relative; 
    vertical-align: top; 
    margin-left: 4em; 
    margin-top: 2em;
}
h2 {
    font-size: 1.5em;
}


/* ------------------------- Container ------------------------*/
#container {
    background-color: white;
    position:relative;
    margin:0 auto 0;
    display:block;
    width:90%;
    height: 100%;


}
/* Altera cor e fonte cabeçalho do p:tab primeface */
#container h3 {
    font-size: 1.2em;
}

/* ------------------------- Calendario ------------------------*/

div.calendario  {
    font: bold 1.6em verdana;
    background: #dcdcdc;
    text-align: center;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 70px;
    width: 90px;
    margin-top: 1em;
    margin-bottom:  1em;
}
div.calendario a {
    color: white; 
    background-color: #DA251D; 
    display: block; 
    position: relative; 
    width: 100%;
}




/* ------------------------- P:TAB ------------------------*/
.ui-accordion {
    width: 95%;
}
.ui-accordion-header {
    width: 96.6%;
}
.ui-accordion-content {
    width: 95%;

}
.ui-widget-content {
    border: none;
}

.tabHeader:before {
    background-color: #e04d47;
    color: white; 

    background-repeat: no-repeat !important;

}
.tabHeader:click{
    -webkit-transform: rotate(90deg);
}

.label {
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    margin-bottom: 2px;
    margin-top: 8px;

}
/* ----------------- Media Query ------------------------- */

@media screen and (max-width: 320px) {

    #container {
        width: 100%;

    }
    .label {        
        display: block;
    }
    h1 {
        margin-left: 0;
        text-align: center;
    }

    div.calendario  {
        font: bold 1.2em verdana;
        background: #dcdcdc;
        text-align: center;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        height: 50px;
        width: 60px;
        margin: 1em auto 1em;
    }

    #container > img {
        display: block;
        margin: auto;

    }

}

